.editor {
  width: 100%;
  font-size: 0px;
  position: relative;
  height: 50%;
}

.editor > div {
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  height: 100%;
  width: 50%;
}

.editor textarea {
  background: lightyellow;
  width: 90%;
  height: 100%;
  outline: 1px solid black;
  display: inline-block;
  border: 0;
  vertical-align: middle;
}

.editor iframe {
  border: 1px solid gray;
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
